@use "commons/globals";
@use "components";

.page {
  &_text {
    text-align: center;
    margin-bottom: 40px;
  }

  &_subcontainer:nth-of-type(n + 2) {
    margin-top: 60px;
  }

  &_sectionTitleEn {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }

  &_info {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    padding: 20px 0;
  }

  &_infoTitle {
    width: 165px;
    font-weight: bold;
    padding-right: 40px;

    @media (max-width: 640px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &_infoDescription {
    flex: 1;
  }

  &_infoDescription ul {
    list-style: disc;
    padding-left: 1em;
  }

  @media (max-width: 640px) {
    &_text {
      text-align: left;
    }

    &_sectionTitleEn {
      font-size: 1.4rem;
      font-weight: bold;
    }

    &_info {
      flex-direction: column;
    }

    &_infoDescription {
      margin-top: 10px;
    }
  }
}