{% set page = 'top' %}

{{ include('layout/header.twig', {'meta': meta, 'page': page}) }}

<main>

    <link rel="stylesheet" href="static/css/notfound.css" />
    <section class="Hero_container">
        <div>
            <h1 class="Hero_title">403</h1>
            <p class="Hero_sub">Access Forbidden</p>
        </div>
        <img alt="" class="Hero_bgimg" src="static/img/img-mv.jpg" />
    </section>
    <div class="not-found_container">
        <dl>
            <dt class="not-found_title">ページを表示できません</dt>
            <dd class="not-found_text">
                あなたがアクセスしようとしたページを表示できません<br />インターネットの接続環境とURLを再度ご確認ください。
            </dd>
        </dl>
    </div>

</main>

{{ include('layout/footer.twig')}}