{% set page = 'top' %}

{{ include('layout/header.twig', {'meta': meta, 'page': page}) }}

<main>

    <link rel="stylesheet" href="static/css/notfound.css" />
    <section class="Hero_container">
        <div>
            <h1 class="Hero_title">404</h1>
            <p class="Hero_sub">Not Found</p>
        </div>
        <img alt="" class="Hero_bgimg" src="static/img/img-mv.jpg" />
    </section>
    <div class="not-found_container">
        <dl>
            <dt class="not-found_title">ページが見つかりませんでした</dt>
            <dd class="not-found_text">
                あなたがアクセスしようとしたページは存在しません。<br />URLを再度ご確認ください。
            </dd>
        </dl>
    </div>

</main>

{{ include('layout/footer.twig')}}