{% set page = 'top' %}

{{ include('layout/header.twig', {'meta': meta, 'page': page}) }}

<main>

    <link rel="stylesheet" href="static/css/notfound.css" />
    <section class="Hero_container">
        <div>
            <h1 class="Hero_title">503</h1>
            <p class="Hero_sub">Server Busy</p>
        </div>
        <img alt="" class="Hero_bgimg" src="static/img/img-mv.jpg" />
    </section>
    <div class="not-found_container">
        <dl>
            <dt class="not-found_title">ただいまサイトが大変混み合っております</dt>
            <dd class="not-found_text">
                現在アクセスが集中し、ページが閲覧しにくい状態となっております。<br />しばらく時間をおいてアクセスしてください。
            </dd>
        </dl>
    </div>

</main>

{{ include('layout/footer.twig')}}