<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} !(^.*/static/(.*))
    RewriteCond %{REQUEST_URI} !(^/lp/(.*))
    RewriteRule ^.*$ index.php

    RewriteRule ^.*/static/(.*)$ /static/$1
</IfModule>