{% set page = 'contact' %}

{{ include('layout/header.twig', {'meta': env, 'meta': meta, 'page': page}) }}

<main>
    <section class="Hero_container">
        <div>
            <h1 class="Hero_title">Transactions Act</h1>
            <p class="Hero_sub">特定商取引法に基づく表記</p>
        </div>
        <img alt="" class="Hero_bgimg" src="static/img/img-aboutus.jpg">
    </section>
    <div class="Sheet_container">
        <div>
            <div class="page_subcontainer">
                <h2 class="page_sectionTitleEn">特定商取引に関する法律に基づく表記</h2>
                <dl class="page_info">
                    <dt class="page_infoTitle">販売事業者</dt>
                    <dd class="page_infoDescription">株式会社RtoS</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">運営統括責任者</dt>
                    <dd class="page_infoDescription">川村剛</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">所在地</dt>
                    <dd class="page_infoDescription">山梨県南アルプス市六科１４１２番地２９<br>ハイツ八田Ｂ１０２</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">電話番号 </dt>
                    <dd class="page_infoDescription">080-3356-2400<br>
                        ※ お電話でのお問い合わせは受け付けておりません</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">問い合わせ先</dt>
                    <dd class="page_infoDescription">info☆robot-to-society.com<br>
                        ※「☆」を「@」に変更してください。</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">購入方法</dt>
                    <dd class="page_infoDescription"><a class="emphasis" href="/products#form">ホームページの申し込みフォーム</a>より申し込みいただけます。</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">販売価格</dt>
                    <dd class="page_infoDescription"><a class="emphasis" href="/products">お申し込みページ</a>に記載</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">商品代金以外の必要料金 </dt>
                    <dd class="page_infoDescription">
                        <ul>
                            <li>銀行振込の場合、振込手数料</li>
                            <li>PayPalの場合、為替レートによる変動</li>
                            <li>商品送料（全国一律4000円、ただし、沖縄および一部離島は8000円）</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">商品引渡し時期</dt>
                    <dd class="page_infoDescription">決済完了後</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">支払い方法</dt>
                    <dd class="page_infoDescription">銀行振込、PayPal</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">お支払い期限 </dt>
                    <dd class="page_infoDescription">銀行振込の場合、５営業日以内にご入金ください。<br>
                        PayPalの場合、５営業日以内に受取確認ができるようお支払いください。</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">販売URL</dt>
                    <dd class="page_infoDescription"><a class="emphasis" href="/products">https://robot-to-society.com/products</a></dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">商品、表現に関する注意書き</dt>
                    <dd class="page_infoDescription">本商品は研究開発向けであり、示された機能、性能に関する表現や再現性には個体差があり、必ずしも機能、性能や効果を保証したものではございません。</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">お問い合わせ</dt>
                    <dd class="page_infoDescription"><a class="emphasis" href="/contact">お問い合わせはフォーム</a>および窓口（メール）から24時間受付しております。<br>
                        問い合わせの対応時間は平日10:00-17:00です。</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">返金について</dt>
                    <dd class="page_infoDescription">商品提供の不備による返金をご希望される場合は、商品受取後7日以内に本サイトの<a class="emphasis" href="/contact">お問い合わせはフォーム</a>より返金理由をご連絡ください。<br>
                        なお、商品受取後30日以上経過した場合、お客様都合での返金は商品の特性上、お受けできませんので予めご了承ください。</dd>
                </dl>
                <dl class="page_info">
                    <dt class="page_infoTitle">個人情報の保護 </dt>
                    <dd class="page_infoDescription">当サイトはお客様の個人情報の保護を第一に考え運営しております。<br>
                        お客様の個人情報は、厳選なる管理下で安全に保管することをお約束します。<br>
                        また個人情報は法律によって要求された場合、あるいは当社の権利や財産を保護する必要が生じた場合を除き第三者に提供することはありません。</dd>
                </dl>
            </div>
        </div>
    </div>
</main>

{{ include('layout/footer.twig')}}