    <footer class="Footer_footer">
        <nav class="Footer_nav">
            <ul class="Footer_items">
                <li class="Footer_item"><a href="/">TOP</a></li>
                <li class="Footer_item"><a href="/news">ニュース</a></li>
                <li class="Footer_item"><a href="/business">事業内容</a></li>
                <li class="Footer_item"><a href="/products">製品</a></li>
                <li class="Footer_item"><a href="/contact">会社概要</a></li>
                <li class="Footer_item"><a href="/history">沿革</a></li>
                <li class="Footer_item --oneColumn"><a target="_blank" href="https://www.youtube.com/@robot-to-society">YouTubeチャンネル</a></li>
                <li class="Footer_item --oneColumn"><a href="/contracts">特定商取引に基づく表記</a></li>
            </ul>
        </nav>
        <div class="Footer_sns">
            <a class="Footer_snsBtn" target="_blank" href="https://www.instagram.com/robottosociety/">
                <img alt="" width="40" height="40" src="static/img/icon_instagram.png">
            </a>
            <a class="Footer_snsBtn" target="_blank" href="https://twitter.com/RobotToSociety">
                <img alt="" width="40" height="40" src="static/img/icon_x.png">
            </a>
        </div>
        <p>© RtoS Co., Ltd. All Rights Reserved 2023</p>
    </footer>

</body>

</html>