{% set page = 'products' %}

{{ include('layout/header.twig', {'meta': env, 'meta': meta, 'page': page}) }}

<main>
    <div class="Hero_container --products">
        <div>
            <h1 class="Hero_title">Products</h1>
            <p class="Hero_sub">製品</p>
        </div>
        <img alt="" class="Hero_bgimg" src="static/img/img-products.jpg">
    </div>

    <div class="Products__index">
        <section class="Products__index__pickup">
            <h2 class="title">ピックアップ製品</h2>
            <div class="image">
                <a href="/products/sparkkit">
                    <img src="static/img/products/img_index_pickup.jpg" alt="">
                </a>
            </div>
        </section>

        <section class="Products__index__lineup">
            <h2 class="title">製品ラインナップ</h2>
            <ul class="lineup__list">
                <li id="sparkkit" class="lineup__list__item">
                    <a href="/products/sparkkit">
                        <div class="image">
                            <img src="static/img/products/img_index_sparkkit.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="product">SPARK Kit</h3>
                            <p class="discription">誰でも簡単に届いたその日から自動走行可能、をコンセプトにしたローバーキット。</p>
                        </div>
                    </a>
                </li>
                <li id="waterkit" class="lineup__list__item">
                    <a href="#">
                        <div class="image">
                            <img src="static/img/products/img_coming_soon.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="product">WATER Kit</h3>
                            <p class="discription">水上航行に特化したボートキット。</p>
                        </div>
                    </a>
                </li>
                <li id="takeoffkit" class="lineup__list__item">
                    <a href="#">
                        <div class="image">
                            <img src="static/img/products/img_coming_soon.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="product">TAKEOFF Kit</h3>
                            <p class="discription">ArduPilot学習者、エントリーユーザー向けのコプターキット。</p>
                        </div>
                    </a>
                </li>
                <li id="grasskit" class="lineup__list__item">
                    <a href="#">
                        <div class="image">
                            <img src="static/img/products/img_coming_soon.png" alt="">
                        </div>
                        <div class="text">
                            <h3 class="product">GRASS Kit</h3>
                            <p class="discription">草刈機と連結して使用することを前提としたスターターキット。</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</main>

{{ include('layout/footer.twig')}}